body{ font-family: Arial, Helvetica, sans-serif; }

.main-container{
    border: 3px solid rgb(0,130,250);
    border-radius: 10px;
    margin: auto;
    width: 430px;
    height: 400px;
    background-color: rgb(222, 247, 248);
}

#heading{
    color: rgb(0,0,255);
    text-decoration: underline;
    margin-left: 15px;
}

.input-container{
    border: 1px solid rgb(74, 23, 255);
    border-radius: 4px;
    display: flex;
    width: 400px;
    height: 100px;
    margin: auto;
    font-size: 25px;
}

.input-box{
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-size: 25px;
    padding-left: 3px;
    background-color: rgb(222, 247, 248);
}

.calculate-button{
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    width: 140px;
    height: 50px;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgb(106, 174, 206);
}

.button-container{ margin: 10px 0 5px 20px; }

.clear-button{
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    width: 70px;
    height: 50px;
    padding-top: 7px;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: rgb(190, 191, 192);
}

.result-container{
    border: 1px solid rgb(1, 142, 224);
    margin: auto;
    width: 380px;
    height: 110px;
    padding-left: 10px;
}

#result-heading{ 
    font-size: 30px; 
    color: rgb(44, 58, 192);
}

#result, #category{ font-size: 26px; }

.bmi-table{
    border: 1px solid black;
    background-color: rgb(235, 250, 255);
    margin: auto;
    width: 450px;
    height: 200px;
    font-size: 20px;
    border-collapse: collapse;
}

.bmi-table thead{ background-color: rgb(200, 200, 200); }

